<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <p>Aqui será direcionado o contato, para edição!</p>
    

    <table>
        <thead>
            <tr>
                <th> </th>
                <th>Primeiro nome</th>
                <th>Segundo nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Criado em</th>
            </tr>    
        </thead>
        <tbody>
            <tr>  
                <td>{{ contato.imagem }}</td>
                <td>{{ contato.primeiro_nome }}</td>
                <td>{{ contato.segundo_nome }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.email }}</td>
                <td>{{ contato.criado_em }}</td>
             </th>
        <tbody>
    </table>
</body>
</html>