{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de contatos</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    
    <h1>Sua lista de contatos</h1>
    <h2><a href="{% url 'addcontato' %}" class="meu-botao">Adicionar + contatos</a></h2>


    <table>
        <thead>
            <tr>
                <th>Primeiro nome</th>
                <th>Segundo nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Descricão</th>
                <th>Criado em</th>
            </tr>    
        </thead>
        <tbody>
            {% for contato in contatos %} 
            {% comment %} contato para exigir a lista {% endcomment %}
                <tr>  
                    <td><a href="{% url 'nocontato' contato.id %}">{{ contato.primeiro_nome }}</a></td>
                    <td>{{ contato.segundo_nome }}</td>
                    <td>{{ contato.telefone }}</td>
                    <td>{{ contato.email }}</td>
                    <td>{{ contato.descricao }}</td>
                    <td>{{ contato.criado_em }}</td>
                </tr>
            {% endfor %}
        <tbody>
    </table>
 

</body>
</html>