{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar contato</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <a href="{% url 'editarcontato' contato.id %}">Editar</a>
    <a href="{% url 'excluircontato' contato.id %}">Deletar</a>

    <table>
        <thead>
            <tr>
                <th>Primeiro nome</th>
                <th>Segundo nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Descrição</th>
                <th>Criado em</th>
            </tr>    
        </thead>
        <tbody>
            <tr>  
                <td>{{ contato.primeiro_nome }}</td>
                <td>{{ contato.segundo_nome }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.email }}</td>
                <td>{{ contato.descricao }}</td>
                <td>{{ contato.criado_em }}</td>
            </tr>
        <tbody>
    </table>
    
    

</body>
</html>